<header role="banner" class="container">
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark border-top-0">
    <a class="navbar-brand" href="/">Perineum Falcons</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <!-- <li role="presentation" {% if page.url contains '/blog/' %}class="nav-item"{% endif %}><a class="nav-link" href="/blog/">Blog</a></li> -->
          {% assign pages_list = site.pages | sort:"weight"  %}
          {% for node in pages_list %}
            {% if node.title != null %}
              {% if node.weight != null %}
                <li role="presentation" {% if page.url contains node.url %}class="nav-item"{% endif %}><a class="nav-link" href="{{ node.url }}">{{ node.title }}</a></li>
              {% endif %}
            {% endif %}
          {% endfor %}
      </ul>
    </div>
  </nav>
  <div class="container">
    <a href="/" title="Perineum Falcons Home"><div class="logo"><span class="sr-only">Perineum Falcons</span></div></a>
  </div>
</header>
