<header role="banner">
  <nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
        <a class="navbar-brand" href="/">Perineum Falcons</a>
      </div>
      <div id="navbar" class="navbar-collapse collapse">
        <ul class="nav navbar-nav">
          <li role="presentation" {% if page.url == blog %}class="active"{% endif %}><a href="blog">Blog</a></li>
          {% assign pages_list = site.pages | sort:"weight"  %}
          {% for node in pages_list %}
            {% if node.title != null %}
              {% if node.weight != null %}
                <li role="presentation" {% if page.url == node.url %}class="active"{% endif %}><a href="{{ node.url }}">{{ node.title }}</a></li>
              {% endif %}
            {% endif %}
          {% endfor %}
        </ul>
      </div>
      <!--/.nav-collapse -->
    </div>
  </nav>
  <div class="container">
    <a href="/" title="Perineum Falcons Home"><div class="logo"><span class="sr-only">Perineum Falcons</span></div></a>
  </div>
</header>
