<header role="banner">
  <nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
        <a class="navbar-brand" href="/">Perineum Falcons</a>
      </div>
      <div id="navbar" class="navbar-collapse collapse">
        <ul class="nav navbar-nav">
          <li role="presentation" {% if page.url contains '/blog/' %}class="active"{% endif %}><a href="/blog/">Blog</a></li>
          {% assign pages_list = site.pages | sort:"weight"  %}
          {% for node in pages_list %}
            {% if node.title != null %}
              {% if node.weight != null %}
                <li role="presentation" {% if page.url contains node.url %}class="active"{% endif %}><a href="{{ node.url }}">{{ node.title }}</a></li>
              {% endif %}
            {% endif %}
          {% endfor %}
          <!-- <li role="presentation"><a href="https://www.flickr.com/groups/fattirearmy/">Flickr Gallery <i class="fa fa-external-link" aria-hidden="true"></i></a></li> -->
          <!-- <li class="dropdown{% if page.url == '/archive/' %} active{% endif %}">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Archive</a>
            <ul class="dropdown-menu">
              <li><a href="/archive/">Archive</a></li>
              <li role="separator" class="divider"></li>
              <li><a href="/archive/categories/">Categories</a></li>
              <li><a href="/archive/tags/">Tags</a></li>
            </ul>
          </li> -->
        </ul>
      </div>
      <!--/.nav-collapse -->
    </div>
  </nav>
  <div class="container">
    <a href="/" title="Perineum Falcons Home"><div class="logo"><span class="sr-only">Perineum Falcons</span></div></a>
  </div>
</header>
