.logo {
  display: block;
  width: 100%;
  height: 300px;
  margin: 0 auto;
  background-image: url('../assets/images/pfalcons_logo_sm.png');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  @media (min-width: 768px) {
    height: 365px;
    background-image: url('../assets/images/pfalcons_logo.png');
  }
}

img {
  width: 100%;
  height: auto;
}
section {
  margin: 2rem 0;
}
footer {
  border-top: 1px solid #111;
  background-color: #222;
  padding: 4rem 0;
}

.count-week, .count-day,
.count-hr, .count-min,
.count-sec {
  font-family: $header-font;
  display: inline-block;
  min-width: 25%;
  text-align: center;
  .time {
    font-size: 2.8rem;
    display: block;
  }
}

.date {
  font-style: italic;
  // color handled by bootstrap class
}

/* centered columns styles */
.row-centered {
    text-align:center;
}
.col-centered {
    display:inline-block;
    float:none;
    /* reset the text-align */
    text-align:left;
    /* inline-block space fix */
    margin-right:-4px;
}

.vcenter {
  display: inline-block;
  vertical-align: middle;
  float: none;
}

.img-crop-circle {
  background-color: #1c1e22;
  margin: 0 auto;
  width: 80px;
  height: 80px;
  position: relative;
  overflow: hidden;
  border-radius: 50%;
  border: 1px solid #fff;
  img {
    display: inline;
    margin: 0 auto;
    margin-left: -50%;
    height: 100%;
    width: auto;
  }
}

.container-wrapper {
  padding: 4rem 0;
}

.video-container {
  clear: both;
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 30px; height: 0; overflow: hidden;
}

.video-container iframe,
.video-container object,
.video-container embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
