.quote {
  margin-bottom: 1rem;
  .quote-details {
    margin-top: 2rem;
    text-align: right;
  }
  .img-crop-circle {
    width: 40px;
    height: 40px;
    float: right;
    margin-left: 1rem;
  }
}
