.ragbrai-cards {
  display: inline-block;
  vertical-align: middle;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-align-items: flex-end;
  align-items: flex-end;

  .ragbrai-card {
    margin: 0.5em;
    width: 230px;
    text-align: center;
    img {
      max-height: 230px;
      width: auto;
    }
  }
}
.ragbrai {
  .ragbrai-header {
    background-color: #222;
    border-top: 5px solid $brand-danger;
  }
  .ragbrai-header-content {
    @media (min-width: 768px) {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;

      .left {
        flex: 300px 0 1;
      }
      .right {
        flex: auto 1 1;
      }
    }
  }
  .count-top {
    font-size: 1.3rem;
  }
  .count {
    font-size: 4.0rem;
  }
  .stat {
    text-align: center;
  }
  .ragbrai-towns {
    text-align: center;
  }

  .ragbrai-members {
    border-top: 5px solid $brand-primary;
    .member {
      padding: 1rem;
    }
  }
}
