---
layout: default
---
{% assign subtitle = page.nickname %}
<article class="member">
  {% if page.image %}<p><img class="img-thumbnail page-image" src="/assets/images/members/{{ page.image }}" alt="{{ page.title }}" /></p>{% endif %}
  {% if page.role %}<p class="lead member-role"><strong>{{ page.role }}</strong></p>{% endif %}
  {% if content %}
  <div class="content-body">
    {{ content }}
  </div>
  {% endif %}
  {% if page.ragbrai %}<p class="member-ragbrai text-muted small"><em>Member since {{ page.ragbrai }}</em></p>{% endif %}
</article>
{% assign quotes = site.data.quotes | where:"member", page.short_name | sort:"year" %}
{% if quotes != empty %}
<hr />
<section class="member-quotes">
  <h2>Quotes from {{ page.title }}</h2>
  <ul class="quotes">
    {% for quote in quotes %}
    <li class="quote">{{ quote.quote }}{% if quote.year %} - {{ quote.year }}{% endif %}</li>
    {% endfor %}
  </ul>
</section>
{% endif %}
