---
layout: default
---

<div class="post">
  <span class="post-date">{{ page.date | date_to_string }}</span>
  {% if page.tags %}
  <ul class="list-inline">
  {% for tag in page.tags %}
    <li><a href="/archive/tags/#{{ tag | slugify }}" class="label label-default"><i class="fa fa-tag" aria-hidden="true"></i> {{ tag }}</a></li>
  {% endfor %}
  </ul>
  {% endif %}
  <div class="post-content">
  {% if page.image_url %}
  <div class="post-image">
    <p><img class="img-thumbnail page-image" src="{{ page.image_url }}" alt="{{ page.title }}" /></p>
  </div>
  {% endif %}
  <div class="post-body">
    {{ content }}
  </div>
  </div>
</div>

<!-- <div class="related">
  <h2>Related Posts</h2>
  <ul class="related-posts">
    {% for post in site.related_posts limit:3 %}
      <li>
        <h3>
          <a href="{{ site.baseurl }}{{ post.url }}">
            {{ post.title }}
            <small>{{ post.date | date_to_string }}</small>
          </a>
        </h3>
      </li>
    {% endfor %}
  </ul>
</div> -->
