---
layout: default-full
---
{% comment %}Convert page.title to integer to compare to ragbrai variable{% endcomment %}
{% assign year = page.title | plus: 0 %}

{% comment %}Get ragbrai data for this page{% endcomment %}
{% assign ragbrai_data = site.data.ragbrai[page.title] %}

<div class="ragbrai">

  <div class="container-wrapper ragbrai-header">
    <div class="container">
      <div class="ragbrai-header-content">
        <div class="left">
          {% if ragbrai_data['logo'] %}<img class="img-thumbnail ragbrai-logo" src="/assets/images/ragbrai/{{ ragbrai_data['logo'] }}" alt="{{ ragbrai_data['name'] }}" />{% endif %}
          <h1>
          {% if page.title contains "-1" %}
            {{ page.title | remove_first: '-1' }}
          {% else %}
            RAGBRAI {{ page.title }}
          {% endif %}
            <small><em>{{ ragbrai_data['name'] }}</em></small></h1>
        </div>
        <div class="right">
          <div class="row">
            {% if ragbrai_data['mileage'] %}
            <div class="col-md-6 stat mileage">
              <span class="count_top"><i class="fa fa-road" aria-hidden="true"></i> Mileage</span>
              <div class="count">
                {{ ragbrai_data['mileage'] }} <span class="count-suffix"><small>mi.</small></span>
              </div>
            </div>
            {% endif %}
            {% if ragbrai_data['climb'] %}
            <div class="col-md-6 stat climb">
              <span class="count_top"><i class="fa fa-area-chart" aria-hidden="true"></i> Climb</span>
              <div class="count">
                {{ ragbrai_data['climb'] }} <span class="count-suffix"><small>ft.</small></span>
              </div>
            </div>
            {% endif %}
          </div>
          {% if ragbrai_data['towns'] != empty %}
          <div class="row">
            <div class="ragbrai-towns">
              <p><small>
                {% for town in ragbrai_data['towns'] %}
                  {{ town }}{% if forloop.last == false %} <span aria-hidden="true">&rarr;</span> {% endif %}
                {% endfor %}
              </small></p>
            </div>
          </div>
          {% endif %}
          {% if ragbrai_data['gallery_url'] %}
          <div class="row row-centered">
            <div class="col-md-4 col-centered gallery">
              <a href="{{ ragbrai_data['gallery_url'] }}" class="btn btn-success btn-lg btn-block">View Media Gallery</a>
            </div>
          </div>
          {% endif %}
        </div>
      </div>
    </div>
  </div>

  {% assign members = site.members | where:"ragbrai",year %}
  {% if members != empty %}
  <div class="container-wrapper ragbrai-members">
    <div class="container">
      <h2>New Team Members</h2>
      <div class="ragbrai-members-content row row-centered">
        {% for member in members %}
          <div class="col-md-3 col-centered member">
            <a href="{{ member.url }}">
              <div class="img-crop-circle">
                <img src="/assets/images/members/{{ member.image }}">
              </div>
              <h3 class="text-center">{{ member.title }}</h3>
            </a>
          </div>
        {% endfor %}
      </div>
    </div>
  </div>
  {% endif %}

  {% assign posts = site.posts | where:"ragbrai",year %}
  {% if posts != empty %}
  <div class="container-wrapper ragbrai-posts">
    <div class="container">
      <h2>{{ year }} Blog Posts</h2>
      <div class="ragbrai-posts-content">
        {% for post in posts %}
        <div class="post">
          <h3><a href="{{ post.url }}">{{ post.title }}</a></h3>
        </div>
        {% endfor %}
      </div>
    </div>
  </div>
  {% endif %}

  {% assign group_quotes = site.data.quotes | group_by: 'year' %}
  {% for group in group_quotes %}
  {% if group.name == page.title %}
  <div class="container-wrapper ragbrai-quotes quotes">
    <div class="container">
      <h2>Quotes from RAGBRAI {{ ragbrai_data['name'] }}</h2>
      {% assign quotes = group.items %}
      <div class="row">
      {% for quote in quotes reversed %}
        <div class="col-md-4 quote">
          <blockquote>{{ quote.quote }}
          {% assign member = site.members | where:"short_name", quote.member | first %}
          {% if member or quote.year %}
          <div class="quote-details">
            {% if member %}
            <a href="{{ member.url }}">
              <div class="img-crop-circle">
                <img src="/assets/images/members/{{ member.image }}">
              </div>
              <div class="name">{{ member.title }}</div>
            </a>
            {% endif %}
            {% if quote.year %}<span class="year small">{{ quote.year }}</span>{% endif %}
          </div>
          {% endif %}
          </blockquote>
        </div>
      {% endfor %}
      </div>
    </div>
    <div class="row row-centered">
			<div class="col-md-6 col-centered">
				<small><p><a href="https://goo.gl/forms/WeYaOwYCSfM2qXsD2" target="_blank" class="btn btn-danger btn-block">Submit a quote</a></p></small>
			</div>
		</div>
  </div>
  {% endif %}
  {% endfor %}

  {% if content %}
    <div class="container-wrapper ragbrai-misc">
      <div class="container">
        {{ content }}
      </div>
    </div>
  {% endif %}
</div>
